doctype html
html
  head
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .row
      .col.s12.m7
        .card
          .card-image
            img(src='https://www.nps.gov/ever/planyourvisit/images/SCENIC-River-of-Grass-Reflections-NPSPhoto-G-Gardner_5.jpg')
            span.card-title Everglades
          .card-content
            p
              | Let's be a part of this super amazing experience and capture moments we'll cherish for life.
              | Below are some links which can help you decide better if you would like to come or not
          .card-action
            a(href='https://www.nps.gov/ever/index.htm') Everglades
            a(href='https://www.nps.gov/ever/planyourvisit/points-of-interest.htm') POI
            a(href='http://www.evergladescampsites.com/id4.html') Checklist
            a(href='https://www.nps.gov/ever/planyourvisit/flamcamp.htm') Camp Info
            a(href='https://www.nps.gov/ever/planyourvisit/fees.htm') Fees